:root {
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #d1d5db;
}

button {
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    font-family: 'Inter', sans-serif;
}

header {
    flex: 1;
    display: grid;
    place-items: center;

    font-weight: bold;
    font-size: 3rem;
}

.prompt {
    margin-bottom: 1rem;

    font-size: 1.2rem;
}

.grid {
    --dimension: calc(100vmax / 3);

    width: var(--dimension);
    height: var(--dimension);

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

    background-color: #f3f4f6;
    border-radius: 20px;
}

.cell {
    --border-color: #030712;

    border-right: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
}

.cell > img {
    height: fit-content(10px);
}

.cell:nth-of-type(3n) {
    border-right: 0;
}

.cell:nth-of-type(n+7) {
    border-bottom: 0;
}

.reset > svg {
    height: 50px;
    width: auto;
    fill:#030712;
    margin-top: 1rem;
}

.reset:hover > svg {
    animation: spin 0.5s ease-in-out;
}

footer {
    flex: 1;
    display: grid;
    place-items: end;

    padding: 0 0 10px 0;
}

@keyframes spin {
    100% {
        rotate: -360deg;
    }
}